@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Bebas+Neue&family=Dancing+Script&family=Lato:ital,wght@1,900&family=Oswald:wght@700&family=Roboto:ital,wght@0,700;1,500&display=swap');

/*------HEADER-----*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;    

}


h1 {
    color:rgb(255, 255, 255);
}

header h1 {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: red;

}

header {
    background-color: white;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li {

    display:inline-block;
    margin: 10px 15px 10px 15px;
        
    }

header nav ul {
    list-style: none;
}

/*-------MAIN-------*/

.hero {

    background-color: black;
    color: white;
}

.hero img {
     
width: 100%;
height: 100%;

}

.form a{
    text-decoration: none;
    color:blue;
}

/*------FOOTER-----*/

footer {
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    
    

}

footer h2 {

    color: white;
}

.iconos img {
    width: 50px;
    height: 50px;
    color:white;
}



