@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Bebas+Neue&family=Dancing+Script&family=Lato:ital,wght@1,900&family=Oswald:wght@700&family=Roboto:ital,wght@0,700;1,500&display=swap');



/*-------HEADER-------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: red;

}


h2 {
  color:white;
}

header nav ul {
  list-style: none
}

.navbar-brand{
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  color: red;

}

header {
  background-color: white;
  
}

header nav ul li a {
  text-decoration: none;
  color: black;

}
header nav ul li {

display:inline-block;
margin: 10px 15px 10px 15px;
  
}

header nav{
  background-color: red;
}

.boton{
  border-color:black;
}

.boton:hover{
  background-color:black;
  color:white;
}

.contenedor {
  width:100%;
  height: 35px;
  display:flex;
  justify-content:flex-start;
  font-size: large;

}


/*--------------------------MAIN---------------------*/

.flex-container {
    display: flex;
    width: 100%;
    justify-content: center; }
  
  .hero h2 {
    font-size: 50px;
    border: 2px;
    display: inline-block;
    padding: 20px;
    justify-content: center;
    text-align: center; 
    color:black;    
  }
  
  .hero h3 {
    text-align: center;
    background-size: cover;
    background-color: black;
    color: white; }
  
  .hero img {
    width: 100%; }



    /*---------------FOOTER--------------*/


    footer {
        width: 100%;
        height: 100%;
        background-color: red;
        color: white;
        margin-top: 50px; }
        footer h2 {
          color: white; }
      
      .iconos img {
        width: 40px;
        height: 40px; }



        /*-------------------MEDIAQUERY---------------*/


        @media screen and (max-width:430px){
          footer{
            width:100%;
            display: flex;
            flex-direction: column;

          }
        }